<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.karos.project.mapper.ArticletypeMapper">

    <resultMap id="BaseResultMap" type="com.karos.project.model.entity.ArticleType">
            <id property="id" column="id" jdbcType="TINYINT"/>
            <result property="fid" column="fId" jdbcType="TINYINT"/>
            <result property="typeName" column="typeName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,fId,typeName
    </sql>
</mapper>
