<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.karos.project.mapper.ArticleMapper">
	<resultMap id="BaseResultMap" type="com.karos.project.model.entity.Article">
		<result property="id" column="id" jdbcType="VARCHAR"/>
		<result property="userId" column="userId" jdbcType="BIGINT"/>
		<result property="userArticleid" column="userArticleid" jdbcType="BIGINT"/>
		<result property="articleTitle" column="articleTitle" jdbcType="VARCHAR"/>
		<result property="articleIntroduction" column="articleIntroduction" jdbcType="INTEGER"/>
		<result property="articleUrl" column="articleUrl" jdbcType="VARCHAR"/>
		<result property="type" column="type" jdbcType="TINYINT"/>
		<result property="labelList" column="labelList"/>
		<result property="isPublic" column="isPublic" jdbcType="TINYINT"/>
		<result property="viewNum" column="viewNum" jdbcType="BIGINT"/>
		<result property="IP" column="IP" jdbcType="VARCHAR"/>
		<result property="thumbNum" column="thumbNum" jdbcType="BIGINT"/>
		<result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
		<result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
		<result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
		<result property="featImg" column="featImg" jdbcType="INTEGER"/>
		<result property="schedId" column="schedId" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,userId,userArticleid,
          articleTitle,articleIntroduction,articleUrl,
          type,labelList,isPublic,
          viewNum,IP,thumbNum,
          createTime,updateTime,isDelete,
          featImg,schedId
	</sql>
	<update id="recoveryByList" parameterType="java.util.List">
		update article set isDelete=0 where id in(
		<foreach collection="ids" item="item" index="index" separator=",">
			#{item}
		</foreach>)

	</update>
</mapper>